@media (max-width: 320px) {

  body {
    font-size: 18px;
    padding: 0;
  }

  main {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  nav, div {
    position: static;
  }

  header h1 {
    font-size: 125%;
  }

  h2 {
    font-size: 115%;
  }

  h3 {
    font-size: 110%;
  }

  p address {
    line-height: 1.5;
  }

  img.header,
  img.bio,
  img.design {
    width: 272px;
    float: none;
    margin-top: 10px;
  }

  p.date {
    position: static;
  }

  p.aboutme {
    margin-right: 0;
  }

  footer {
    display: none;
  }
}
