@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  background: #e9c9ff;
  font-family: 'Playfair Display', serif;
}

main {
  width: 612px;
  margin: 0 auto;
  padding: 0px 15px 5px 15px;
  font-family: 'Playfair Display', serif;
}

#about,
h1,
ol li {
  padding: 0;
}

nav,
header{
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 48pt;
  padding-top: 10px 0px 15px 0px;
  border-bottom-style: dotted;
  margin: 0px auto;
  text-align: center;
}

ol {
  padding-left: 0;
}


ol li {
  list-style-type: none;
  display: inline;
  padding: 0px 6px;
}

section {
  padding: 15px 0px;
}

h2 {
  padding: 5px;
}

h2.portfolio {
  text-align: center;
}

h2,
p,
ul {
  margin: .5px;
}

p {
  line-height: 1.5;
}

p.date {
  position: absolute;
  top: 0;
  right: 0;
}

p.index {
  text-align: center;
  font-size: 150%;
}

article {
  position: relative;
  margin-top: 10px;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: black;
}

img.header {
  float: center;
  margin-top: 10px;
}

img.bio {
  float: right;
}

p.aboutme {
  margin-right: 288px;
  padding-top: 13px;
}

footer {
  text-align: center;
  font-size: 80%;
  margin-bottom: 10px;
}
